/*  #######################################################################
                                  Header
####################################################################### */

.header-container {
  background-color: whitesmoke;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 14px #888888;
  height: 70px;
}

.title {
  font-size: x-large;
  color: black;
  font-weight: bold;
  position: relative;
  right: 250px;
}

.login-details {
  width: 120px;
  border-radius: 25px;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 2.5px;
  border-color: black;
  position: relative;
  right: 40px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: 5px;
  bottom: 2px;
}

.pic-size {
  width: 100%;
  height: 550px;
}

/* Styles for tab labels */
.mat-tab-label {
  background-color: transparent;
  color: black;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: #4353a6;
  font-weight: 700;
}

.mat-tab-div {
  position: relative;
  right: 90px;
}

.mat-menu-item {
  background-color: white;
  color: black;
}

.mat-menu-content {
  background-color: white !important;
}

/*  #######################################################################
                                  Info Panel
####################################################################### */

.info-panel {
  width: 80%;
  height: 300px;
  bottom: 150px;
  left: 145px;
  position: relative;
  background-color: #4353a6;
}

.info-panel-grid-list {
  top: 20px;
  bottom: 150px;
  position: relative;
}

.info-panel-grid-list-container1 {
  width: calc(102.9%);
  height: calc(113.7%);
  background-color: #4353a6;
  position: relative;
  right: 16px;
  bottom: 14.5px;
  border-radius: 10px;
}

.info-panel-icon-calendar {
  position: relative;
  top: 20px;
  right: 15px;
}

.info-panel-icon-schedule {
  position: relative;
  top: 20px;
}

.middle {
  width: 382px;
  height: 306px;
  position: relative;
  background-color: #5162d4;
  bottom: 202px;
  left: 388px;
  border-radius: 0px;
}

.last {
  width: 384px;
  height: 306px;
  background-color: #838cc9;
  position: relative;
  bottom: 814px;
  left: 769px;
  border-radius: 5px;
}

.colour-correction {
  height: 306px;
  width: 0.2cm;
  background-color: #838cc9;
  border-radius: 0px;
  position: relative;
  bottom: 508px;
  box-shadow: 0px 0px 0px;
  left: 765px;
}

.info-panel-first-tile {
  position: relative;
  left: 25px;
}

.info-panel-second-tile {
  position: relative;
  right: 40px;
}

.info-panel-title-tile1 {
  position: relative;
  top: 20px;
}

.info-panel-title-tile2 {
  position: relative;
  right: 15px;
  top: 43px;
}

.info-panel-title-tile3 {
  position: relative;
  top: 40px;
}

.info-panel-content-tile1 {
  position: relative;
  top: 15px;
}

.info-panel-content-tile2 {
  position: relative;
  width: 340px;
  right: 15px;
  top: 60px;
}

.info-panel-content-tile3 {
  width: 340px;
  position: relative;
  top: 60px;
}

.schedule-hr {
  border: 0.1px solid white;
  border-radius: 10px;
}

/*  #######################################################################
                                Learn More Area
####################################################################### */

.doctors-picture {
  height: 760px;
  position: relative;
  background-image: url(./../.././assets/images/new.jpg);
}

.arrow-circles {
  color: #5162d4;
  font-size: large;
}

.parallax {
  background: url(./../.././assets/images/background.jpg);
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(28, 41, 107, 0.8);
}

/*  #######################################################################
                                Footer Area
####################################################################### */
.footer-container {
  background-color: #242626;
  color: white;
  bottom: 1000px;
  width: 1440px;
  height: 750px;
}

.footer-first-container {
  margin-left: 60px;
}

/*  #######################################################################
                                Progress Bar
####################################################################### */

.progress {
  margin: 10px;
  width: 900px;
  border-radius: 15px;
}

/*  #######################################################################
                                Scroll Button
####################################################################### */

.scroll-to-top {
  position: fixed;
  bottom: 160px;
  right: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}
.show-scrollTop {
  opacity: 10;
  transition: all 2s ease-in-out;
  background-color: #4353a6;
  border-radius: 5px;
}

/*  #######################################################################
                                Tiny Cards Button
####################################################################### */

.tiny-cards-title {
  font-family: OgonekBold;
  font-size: medium;
}

.tiny-cards-content {
  font-family: OgonekRegular;
  font-size: small;
  color: gray;
}
