/*  #######################################################################
                                Sidenav
####################################################################### */
.mat-drawer-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.sidenav-content {
  height: 100%;
  width: 400px;
  background-image: url('../../assets/images/Menu.jpg');
  border-radius: 10px;
}

.sidenav-menu-buttons {
  width: 580px;
  height: 50px;
  color: black;
  font-family: OgonekRegular;
  font-size: medium;
}
.sidenav-menu-buttons:hover {
  background-color: gainsboro;
}

.right-x {
  position: relative;
  color: black;
  bottom: 35px;
  left: 180px;
  font-family: OgonekRegular;
  font-size: large;
}

.menu-button {
  width: 120px;
  color: black;
  height: 70px;
  position: relative;
  left: 1090px;
}

.logo {
  position: relative;
  left: 20px;
  width: 250px;
  height: auto;
}

/*  #######################################################################
                                  Header
####################################################################### */

.header-container {
  background-color: whitesmoke;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 14px #888888;
  height: 70px;
  width: 1440px;
}

.title {
  font-size: x-large;
  color: black;
  font-weight: bold;
  position: fixed;
  left: 50px;
  top: 25px;
}

.login {
  width: 120px;
  color: white;
  background-color: gray;
  position: relative;
  left: 1180px;
  top: 15px;
}

.pic-size {
  width: 100%;
  height: 480px;
  position: relative;
  top: 35px;
}

.mat-menu-item {
  background-color: white;
  color: black;
}

.mat-menu-content {
  background-color: white !important;
}

/*  #######################################################################
                                  Info Panel
####################################################################### */

.info-panel-tile1 {
  position: relative;
  background-color: #4353a6;
  width: 411px;
  height: 305px;
  border-radius: 5px;
  position: relative;
  bottom: 150px;
}

.info-panel-tile2 {
  position: relative;
  background-color: #5162d4;
  width: 414px;
  height: 305px;
  position: relative;
  bottom: 455px;
  left: 408px;
}

.info-panel-tile3 {
  position: relative;
  background-color: #838cc9;
  width: 418px;
  height: 305px;
  position: relative;
  bottom: 760px;
  left: 818px;
  border-radius: 5px;
}

.info-panel-icons {
  position: relative;
  top: 25px;
}
.info-panel-titles {
  font-family: OgonekBold;
  font-size: 23px;
  color: white;
  position: relative;
  top: 50px;
}

.info-panel-contents {
  width: 300px;
  height: 200px;
  position: relative;
  top: 70px;
  font-family: OgonekLight;
  font-size: 13px;
  color: white;
}

.info-panel-content-align {
  position: relative;
  left: 25px;
}

/*  #######################################################################
                                Learn More Area
####################################################################### */

.doctors-picture {
  height: 760px;
  position: relative;
  background-image: url(./../.././assets/images/welcome_page/DoctorsPicture.jpg);
}

.arrow-circles {
  color: #5162d4;
  font-size: large;
}

.parallax {
  background: url(../../assets/images/welcome_page/ParallaxPic.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(28, 41, 107, 0.8);
  bottom: 20px;
}

::ng-deep mdb-carousel .carousel-indicators {
  display: none;
}

/*  #######################################################################
                                  Footer
####################################################################### */

.footer-container {
  background-color: #242626;
  color: white;
  position: relative;
  width: 1440px;
  height: 750px;
}

.footer-first-container {
  position: relative;
  left: 100px;
  width: 403px;
  height: 650px;
  top: 100px;
  text-align: left;
  font-family: OgonekLight;
}

.footer-second-container {
  position: relative;
  left: 513px;
  width: 413px;
  height: 600px;
  bottom: 545px;
  text-align: center;
  font-family: OgonekLight;
}

.footer-third-container {
  position: relative;
  left: 930px;
  width: 400px;
  height: 600px;
  bottom: 1146px;
  text-align: right;
  font-family: OgonekLight;
}

.logo-down {
  position: relative;
  width: 250px;
  height: auto;
}

.icons {
  font-size: 30px;
  color: cadetblue;
  position: relative;
  top: 10px;
  width: 40px;
}

.footer-menu-buttons {
  font-family: OgonekRegular;
  color: white;
}

.footer-menu-buttons:hover {
  font-family: OgonekRegular;
  background-color: white;
  color: black;
}

/*  #######################################################################
                                Progress Bar
####################################################################### */

.progress {
  margin: 10px;
  width: 900px;
  border-radius: 15px;
}

/*  #######################################################################
                                Tiny Cards 
####################################################################### */

.tiny-cards-title {
  font-family: OgonekBold;
  font-size: medium;
  color: black;
}

.tiny-cards-content {
  font-family: OgonekRegular;
  font-size: small;
  color: gray;
}

/* Hover 

<div class="clasa"><a style="color: black"> da </a></div>
*/

p:hover {
  padding-left: 20px;
  -webkit-transition: padding-left 500ms ease-out;
  -moz-transition: padding-left 500ms ease-out;
  -o-transition: padding-left 500ms ease-out;
  transition: padding-left 500ms ease-out;
}

.lorem-ipsum {
  color: black;
  font-family: OgonekLight;
  font-size: 60px;
  position: relative;
  width: 500px;
  left: 100px;
}

body {
  background-color: #212121;
}
