<app-splash-screen></app-splash-screen>
<app-scroll-to-top></app-scroll-to-top>
<div style="height: 800px; width: 1440px">
  <div style="position: relative; left: 100px; width: 1200px; top: 50px">
    <div class="main-container">
      <img
        style="width: 300px"
        class="logo"
        src="../../../assets/images/logo/FinalLogo.png"
      />

      <div class="nav-bar">
        <button
          mat-button
          class="nav-bar-buttons"
          [routerLink]="['/patient/welcome']"
          routerLinkActive="router-link-active"
        >
          Welcome
        </button>
        <button
          mat-button
          class="nav-bar-buttons"
          style="text-decoration: underline"
        >
          Info Page
        </button>
        <button mat-button class="nav-bar-buttons" (click)="scroll(target)">
          Contact
        </button>
        <button
          mat-button
          class="nav-bar-buttons"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          Logout
        </button>
      </div>
      <div class="main-container-text">
        <div class="main-container-title">
          Toate programările tale, la un click distanță
        </div>

        <div class="main-container-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac
          turpis non turpis placerat aliquet vel quis dui. Suspendisse mi massa,
          feugiat eget arcu hendrerit, malesuada porta erat. Praesent at viverra
          massa. Suspendisse tellus sem, feugiat et lobortis sit amet, ultricies
          vitae velit. Suspendisse potenti.
        </div>

        <button
          mat-button
          class="main-container-button"
          (click)="scroll(appointments)"
        >
          Vezi programările
        </button>
      </div>
    </div>
  </div>
</div>

<div
  #appointments
  style="
    background-color: #222222;
    width: 1440px;
    height: 160px;
    position: relative;
    top: 60px;
  "
>
  <div
    style="position: relative; left: 110px; top: 55px; width: 590px"
    [(ngModel)]="value"
  >
    <input matInput type="search" [(ngModel)]="filterTerm" />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      (click)="value = ''"
      style="position: relative; right: 50px; bottom: 5px; color: white"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="filter-appointments-container">
    <mat-form-field
      appearance="outline"
      style="width: 265px"
      panelClass="test"
      class="status-colour select p-apps-page-outline"
    >
      <mat-label>Status</mat-label>
      <mat-select panelClass="p-apps-page">
        <mat-option>--- None ---</mat-option>
        <mat-option value="Aprobat">Aprobat</mat-option>
        <mat-option value="Refuzat">Refuzat</mat-option>
        <mat-option value="Procesat">Procesat</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button class="filter-appointments-button">
      <i class="far fa-paper-plane"></i>
    </button>
  </div>
</div>

<div class="page-content">
  <mat-grid-list cols="2" rowHeight="320px">
    <div class="appointment-cards-container">
      <mat-grid-tile *ngFor="let app of apps | filter: filterTerm"
        ><mat-card class="appointment-card">
          {{ app.doctor.name }}</mat-card
        ></mat-grid-tile
      >
    </div>

    <div
      *ngIf="(apps | filter: filterTerm).length === 0"
      style="
        width: 1240px;
        position: relative;
        left: 100px;
        height: 800px;
        top: 150px;
        background-color: white;
        color: black;
        font-family: OgonekBold;
        font-size: 30px;
        text-align: center;
      "
    >
      Nu există niciun rezultat
    </div>
  </mat-grid-list>

  <div style="position: relative; top: 100px" #target>
    <app-footer></app-footer>
  </div>
</div>
