/*  #######################################################################
                                  Header
####################################################################### */

.mat-drawer-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.sidenav-content {
  height: 100%;
  width: 30%;
  background-color: white;
}

.sidenav-menu-buttons {
  width: 580px;
  color: black;
}

.menu-button {
  width: 120px;
  color: black;
  height: 70px;
  position: relative;
  left: 1090px;
}

.logo {
  position: relative;
  left: 20px;
  width: 250px;
  height: auto;
}

.header-container {
  background-color: whitesmoke;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 14px #888888;
  height: 70px;
}

.title {
  font-size: x-large;
  color: black;
  font-weight: bold;
  position: relative;
  height: 70px;
  left: 100px;
  top: 25px;
}

.parallax {
  background: url(../../../assets/images/patient_appointments/26365.jpg);
  min-height: 770px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-pic-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: OgonekRegular;
  color: white;
  font-size: 50px;
}

.page-content {
  height: 100%;
  position: relative;
  top: 80px;
}

/*  #######################################################################
                                  Page Content
####################################################################### */

.appointment-cards-container {
  width: 1240px;
  position: relative;
  left: 100px;
}

.appointment-card {
  position: relative;
  color: black;
  margin-right: 20px;
  width: 650px;
  height: 330px;
  background-color: whitesmoke;
}

.internalMatGrid {
  min-width: 80%;
}

.fill-space {
  flex: 1 1 auto;
}

/*
.indenting_links :hover {
  padding-left: 20px;
  -webkit-transition: padding-left 500ms ease-out;
  -moz-transition: padding-left 500ms ease-out;
  -o-transition: padding-left 500ms ease-out;
  transition: padding-left 500ms ease-out;
}

<div class="indenting_links"><a style="color: black"> da </a></div>

*/

/*  #######################################################################
                                  Footer
####################################################################### */

.footer-container {
  background-color: #242626;
  color: white;
  height: 745px;
}

.footer-first-container {
  position: relative;
  left: 100px;
  width: 413px;
  height: 100%;
}

.footer-second-container {
  position: relative;
  left: 513px;
  width: 413px;
  height: 100%;
  bottom: 745px;
}

.footer-third-container {
  position: relative;
  left: 926px;
  width: 413px;
  height: 100%;
  bottom: 1490px;
}

/*  #######################################################################
                                Scroll Button
####################################################################### 

.scroll-to-top {
  position: fixed;
  bottom: 160px;
  right: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}
.show-scrollTop {
  opacity: 10;
  transition: all 2s ease-in-out;
  background-color: #4353a6;
  border-radius: 5px;
}

.buttones {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}*/

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
