<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #drawer class="sidenav-content" mode="push" position="end">
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><button
          mat-button
          class="sidenav-menu-buttons"
          matTooltip="Programează o sesiune de consult"
        >
          <mat-icon>assignment</mat-icon>
          <span>Vezi programări</span>
        </button></mat-list-item
      >
      <mat-divider style="border-top-color: black"></mat-divider>
      <mat-list-item role="listitem"
        ><button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/patient/info-page']"
          routerLinkActive="router-link-active"
        >
          <mat-icon>voicemail</mat-icon>
          <span>Info Page</span>
        </button></mat-list-item
      >
      <mat-divider style="border-top-color: black"></mat-divider>
      <mat-list-item role="listitem"
        ><button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/welcome']"
          routerLinkActive="router-link-active"
        >
          Welcome
        </button></mat-list-item
      >
      <mat-divider style="border-top-color: black"></mat-divider>

      <mat-list-item>
        <button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/patient/appointments']"
          routerLinkActive="router-link-active"
        >
          <span>Programari</span>
        </button>
      </mat-list-item>

      <mat-divider
        style="border-top-color: black; width: 80%; margin: auto"
      ></mat-divider>
      <mat-list-item>
        <button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          <span>Deconectează-te</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button (click)="drawer.toggle()">Inchide</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <header class="header-container">
    <img class="logo" src="../../../assets/images/logo/2.png" />

    <button
      mat-icon-button
      class="menu-button"
      matTooltip="Profilul tău"
      (click)="drawer.toggle()"
    >
      <i style="font-size: 25px" class="fas fa-bars"></i>
    </button>
  </header>

  <div style="width: 1440; height: 400px; top: 50px; position: relative">
    <div class="parallax"></div>
  </div>

  <div class="page-content">
    <mat-divider style="border-top-width: 20px; color: black"> </mat-divider>
    <div style="width: 1440px; height: 100%; position: relative; top: 25px">
      <div style="width: 1440px; height: 55px; background-color: grey"></div>

      <div class="appointment-cards-container">
        <mat-grid-list cols="4" rowHeight="360px">
          <mat-grid-tile [colspan]="2">
            <mat-card class="appointment-card">
              <div style="width: 35%; height: 100%">
                <mat-card-title>Titlu 1</mat-card-title>
                <mat-card-subtitle>Nume 1</mat-card-subtitle>
                <br /><button mat-raised-button color="accent">Modify</button>

                <button mat-raised-button color="accent">Print</button>
              </div>

              <div
                style="
                  width: 65%;
                  height: 100%;
                  position: relative;
                  left: 35%;
                  bottom: 100%;
                "
              >
                Lorem ipsum

                <br />

                <button mat-raised-button color="warn" class="cancel">
                  Cancel
                </button>
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div style="width: 1440px; height: 15px; background-color: #4353a6"></div>

    <!--
    <div class="scroll-to-top">
      <button
        mat-raised-button
        (click)="gotoTop()"
        matTooltip="Scroll to top"
        class="show-scrollTop"
        *ngIf="isShow"
      >
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
  -->
    <div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
      <button
        type="button"
        class="btn active"
        data-toggle="button"
        aria-pressed="true"
        (click)="scrollToTop()"
      >
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>

    <footer class="footer-container">
      <div class="footer-first-container">
        <p>Covaid</p>
        <p>
          Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm
          hedi corper turet suscipit lobortis augue duis dolore te feugait nulla
          facilisi mazim placerat
        </p>
        <p><mat-icon> location_on</mat-icon> Strada nush</p>
        <p><mat-icon> phone</mat-icon> +40 732 254 647</p>
        <p><mat-icon> email</mat-icon> andreea.pupe99@e-uvt.ro</p>
      </div>
      <div class="footer-second-container">Second Container</div>
      <div class="footer-third-container">Third Container</div>
    </footer>
  </div>
</mat-drawer-container>
