<app-splash-screen></app-splash-screen>
<app-scroll-to-top></app-scroll-to-top>
<div style="width: 1440px">
  <header class="header-container">
    <div style="position: relative; left: 560px; height: 30px; width: 330px">
      <img class="logo" src="../../../assets/images/logo/FinalLogo.png" />
    </div>
  </header>
  <header class="nav-bar">
    <button
      mat-button
      class="nav-bar-buttons"
      style="background-color: rgba(81, 98, 212, 0.363)"
    >
      Welcome
    </button>

    <button
      mat-button
      class="nav-bar-buttons"
      [routerLink]="['/patient/info-page']"
      routerLinkActive="router-link-active"
    >
      Info Page
    </button>

    <button mat-button class="nav-bar-buttons" (click)="scroll(target)">
      Contact
    </button>

    <button
      mat-button
      class="nav-bar-buttons"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      Conectează-te
    </button>

    <button
      mat-button
      class="nav-bar-buttons"
      [routerLink]="['/signup']"
      routerLinkActive="router-link-active"
    >
      Înregistrează-te
    </button>
  </header>
  <div class="current-page-indicator"></div>
  <header class="animated fadeInDown" id="navbar">
    <div style="color: rgb(255, 255, 255); width: 1400px">
      <button
        mat-button
        class="nav-bar-buttons"
        style="background-color: rgba(81, 98, 212, 0.363)"
      >
        Welcome
      </button>

      <button
        mat-button
        class="nav-bar-buttons"
        [routerLink]="['/patient/info-page']"
        routerLinkActive="router-link-active"
      >
        Info Page
      </button>

      <button mat-button class="nav-bar-buttons" (click)="scroll(target)">
        Contact
      </button>

      <button
        mat-button
        class="nav-bar-buttons"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Conectează-te
      </button>

      <button
        mat-button
        class="nav-bar-buttons"
        [routerLink]="['/signup']"
        routerLinkActive="router-link-active"
      >
        Înregistrează-te
      </button>
    </div>
  </header>

  <div class="correcting-header"></div>

  <div style="position: relative; width: 1440px; bottom: 210px">
    <div class="pic-size">
      <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
          <img
            class="pic-size"
            src="../../assets/images/welcome_page/1.jpg"
            alt="First slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="pic-size"
            src="../../assets/images/welcome_page/2.jpg"
            alt="Second slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="pic-size"
            src="../../assets/images/welcome_page/3.jpg"
            alt="Third slide"
          />
        </mdb-carousel-item>
      </mdb-carousel>
    </div>

    <div class="info-panels">
      <div class="info-panel-tile1">
        <div class="info-panel-content-align">
          <img
            class="info-panel-icons"
            src="../../assets/images/icons/phone-icon.png"
          />
          <div class="info-panel-titles">Apel de urgență</div>
          <div class="info-panel-contents">
            Urgențele nu pot fi raportate prin intermediul acestui website și
            nici prin e-mail. <br />În caz de urgență, sunați întotdeauna la
            <span style="font-family: OgoenkBold; font-size: 15px">112</span>
          </div>
        </div>
      </div>
      <div class="info-panel-tile2">
        <div class="info-panel-content-align">
          <img
            class="info-panel-icons"
            src="../../assets/images/icons/calendar-icon.png"
          />
          <div class="info-panel-titles">Programare</div>
          <div class="info-panel-contents">
            Gasește serviciile medicale de care ai nevoie și programează-te
            rapid în câțiva pași simpli. <br />Sistemul de programări este
            gratuit și poți beneficia de reduceri la serviciile medicale.
          </div>
        </div>
      </div>
      <div class="info-panel-tile3">
        <div class="info-panel-content-align">
          <img
            class="info-panel-icons"
            src="../../assets/images/icons/schedule-icon.png"
          />
          <div class="info-panel-titles">Orar</div>
          <div class="info-panel-contents" style="font-size: 15px">
            <div style="width: 100px">Luni - Vineri:</div>
            <div
              style="
                position: relative;
                bottom: 20px;
                left: 230px;
                width: 100px;
              "
            >
              07:00 - 19:00
            </div>
            <mat-divider
              style="width: 330px; position: relative; bottom: 20px"
            ></mat-divider>
            <div style="position: relative; width: 100px">
              Sâmbătă:
              <div
                style="
                  position: relative;
                  bottom: 20px;
                  left: 230px;
                  width: 100px;
                "
              >
                08:00 - 16:00
              </div>
              <mat-divider
                style="
                  width: 330px;
                  position: relative;
                  left: 2px;
                  bottom: 20px;
                "
              ></mat-divider>
            </div>
            <div style="position: relative; width: 100px">
              Duminică:
              <div
                style="
                  position: relative;
                  bottom: 20px;
                  left: 230px;
                  width: 100px;
                "
              >
                09:00 - 12:00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 420px">
      <div class="lorem-ipsum">ASISTENT MEDICAL ONLINE</div>
      <div
        style="
          color: black;
          font-family: OgonekRegular;
          font-size: 45px;
          position: relative;
          width: 500px;
          left: 100px;
          top: 30px;
        "
      >
        Suport 24/7
      </div>
      <div
        style="
          position: relative;
          top: 70px;
          width: 800px;
          left: 100px;
          color: black;
          font-family: OgonekLight;
          font-size: 15px;
        "
      >
        Serviciul CovAid este primul serviciu de asistență medicată online,
        orientată pe noul Coronavirus, din România. <br />
        <p style="position: relative; top: 10px">
          Serviciul de consultații este adresat atât persoanelor tinere, cât și
          celor mai în vârstă, fiind foarte apreciat de pacienți de-a lungul
          timpului, și creat special pentru cei care nu pot sau nu doresc să se
          deplaseze de fiecare dată când au o problemă medicală.
        </p>
        <p style="position: relative; top: 10px">
          Medicii noștri sunt disponibili 24 de ore din 24, 7 zile pe săptămână,
          fiind pregătiți să rezolve orice problema medicală comună a
          pacienților abonați ai serviciului CovAid, în confortul casei lor.
          Avantajul îl reprezintă examinarea pacientului într-un mediu familiar,
          aspect care determină reducerea considerabilă a stresului sau a
          posibilelor complicații de natură medicală.
        </p>
      </div>
    </div>

    <div class="parallax"></div>

    <div style="height: 502px; width: 1250px">
      <div style="width: 80%; height: 500px">
        <div style="position: relative; top: 107px; left: 100px">
          <img
            src="../../assets/images/icons/tiny-card-1.png"
            style="width: 70px; height: 80px; position: relative; top: 20px"
            class="go-up"
          />
          <p
            class="tiny-cards-title"
            style="position: relative; left: 105px; bottom: 70px"
          >
            Îngrijire medicală de la distanță
          </p>
          <div
            style="
              width: 200px;
              height: 100px;
              bottom: 70px;
              left: 105px;
              position: relative;
            "
            class="tiny-cards-content"
          >
            Serviciu de telemedicină, care permite monitorizarea constantă a
            stării și performanței pacientului
          </div>
        </div>

        <div style="position: relative; top: 107px; left: 100px">
          <img
            src="../../assets/images/icons/tiny-card-2.png"
            style="width: 70px; height: 80px; position: relative; top: 20px"
          />
          <p
            class="tiny-cards-title"
            style="position: relative; left: 105px; bottom: 70px"
          >
            Sisteme IT pentru medici
          </p>
          <div
            style="
              width: 200px;
              height: 100px;
              bottom: 70px;
              left: 105px;
              position: relative;
            "
            class="tiny-cards-content"
          >
            Personalul are disponibilitate asupra platformei 24 de ore din 24,
            indiferent de locul în care se află (cabinet, sala de operații etc.)
          </div>
        </div>

        <div
          style="position: relative; bottom: 317px; left: 555px; width: 500px"
        >
          <img
            src="../../assets/images/icons/tiny-card-3.png"
            style="width: 70px; height: 80px; position: relative; top: 20px"
          />
          <p
            class="tiny-cards-title"
            style="position: relative; left: 105px; bottom: 70px"
          >
            Interfață ușor de utilizat
          </p>
          <div
            style="
              width: 250px;
              height: 100px;
              bottom: 70px;
              left: 105px;
              position: relative;
            "
            class="tiny-cards-content"
          >
            Soluțiile oferite de CovAid sunt implementate pe o interfață clară
            și modernă. Sistemul este intuitiv și ușor de utilizat pentru orice
            categorie de vârstă.
          </div>
        </div>

        <div
          style="position: relative; bottom: 317px; left: 555px; width: 500px"
        >
          <img
            src="../../assets/images/icons/tiny-card-4.png"
            style="width: 70px; height: 80px; position: relative; top: 20px"
          />
          <p
            class="tiny-cards-title"
            style="position: relative; left: 105px; bottom: 70px"
          >
            Accesibilitatea utilizatorului
          </p>
          <div
            style="
              width: 200px;
              height: 100px;
              bottom: 70px;
              left: 105px;
              position: relative;
            "
            class="tiny-cards-content"
          >
            Sistemul poate fi utilizat și pe tablete, permițând astfel medicilor
            să acceseze informațiile despre pacienților de pretutindeni.
          </div>
        </div>

        <div
          style="position: relative; bottom: 740px; left: 1020px; width: 350px"
        >
          <img
            src="../../assets/images/icons/tiny-card-5.png"
            style="width: 70px; height: 80px; position: relative; top: 20px"
          />
          <p
            class="tiny-cards-title"
            style="position: relative; left: 105px; bottom: 70px; width: 200px"
          >
            Înregistrare rapidă
          </p>
          <div
            style="
              width: 200px;
              height: 100px;
              bottom: 70px;
              left: 105px;
              position: relative;
            "
            class="tiny-cards-content"
          >
            Este nevoie doar un singur clic pentru a completa echivalentul
            formularelor fizice completate la vizitele medicale.
          </div>
        </div>

        <div
          style="position: relative; bottom: 740px; left: 1020px; width: 350px"
        >
          <img
            src="../../assets/images/icons/tiny-card-6.png"
            style="width: 70px; height: 80px; position: relative; top: 20px"
          />
          <p
            class="tiny-cards-title"
            style="position: relative; left: 105px; bottom: 70px; width: 200px"
          >
            Date securizate
          </p>
          <div
            style="
              width: 200px;
              height: 100px;
              bottom: 70px;
              left: 105px;
              position: relative;
            "
            class="tiny-cards-content"
          >
            Datele medicale sunt sigure, datorită tehnologiei avansate care
            oferă autorizațiile corespunzătoare pentru a accesa informațiile
            selectate.
          </div>
        </div>
      </div>

      <div style="width: 1440px">
        <div class="doctors-picture">
          <div
            style="
              color: black;
              font-family: OgonekLight;
              font-size: 60px;
              position: relative;
              top: 200px;
              width: 580px;
              left: 100px;
            "
          >
            SOLUȚIILE COVAID
          </div>

          <div
            style="
              color: black;
              font-family: OgonekRegular;
              font-size: 40px;
              position: relative;
              top: 230px;
              width: 600px;
              left: 100px;
            "
          >
            Beneficiile platformei
          </div>

          <div
            style="
              position: relative;
              top: 270px;
              width: 500px;
              left: 100px;
              color: black;
            "
          >
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Interfață de utilizator intuitivă
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Profil configurabil
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Previzualizarea istoricului medical
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Accesibilitatea informațiilor relevante
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Punct de diagnosticare
            </p>
          </div>
          <div
            style="
              position: relative;
              top: 105px;
              width: 500px;
              left: 450px;
              color: black;
            "
          >
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Programări rapide, fără perioade lungi de așteptare
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Confort atât pentru pacienți, cât și pentru medici
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>

              Economii considerabile în costurile asistenței medicale
            </p>

            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Reducerea supraaglomerării în instituțiile medicale
            </p>
            <p>
              <i class="fas fa-arrow-circle-right arrow-circles"></i>
              Posibilă integrare cu sistemele diferiților producători
            </p>
          </div>

          <button
            mat-raised-button
            [routerLink]="['/patient/info-page']"
            routerLinkActive="router-link-active"
            color="accent"
            class="more-info-button"
          >
            Mai mult <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>

      <div style="position: relative; bottom: 20px" #target>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
