.change-button {
    position: relative;
    left: 75px;
    color: white;
    background-color: rgb(19, 68, 141);
    width: 190px;
  }
  
.dont-change-button {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  