<h3>Info Page</h3>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="info-cards">
      First tile Lorem ipsum fdsfsd fsdfsdf sdf sdfds fdfsdgdsfd
      grertsdfgdhtdrsrfd dfsgrsed
      <button mat-icon-button class="plus-button">+</button></mat-card
    >
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="info-cards">
      Second <button mat-icon-button class="plus-button">+</button></mat-card
    >
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="info-cards">
      Third <button mat-icon-button class="plus-button">+</button>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="info-cards">
      Fourth <button mat-icon-button class="plus-button">+</button></mat-card
    >
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="info-cards">
      Fifth <button mat-icon-button class="plus-button">+</button></mat-card
    >
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="info-cards">
      Sixth <button mat-icon-button class="plus-button">+</button></mat-card
    >
  </mat-grid-tile>
</mat-grid-list>
