<header class="header-container">
  <mat-grid-list cols="2" rowHeight="80px">
    <mat-grid-tile>
      <div class="title">Appointments</div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-tab-group mat-align-tabs="end">
        <!--- First menu tab-->
        <mat-tab>
          <ng-template mat-tab-label>
            <button mat-icon-button [matMenuTriggerFor]="Menu">First</button>
          </ng-template>

          <mat-menu #Menu="matMenu">
            <button
              mat-menu-item
              [routerLink]="['/user/info-page']"
              routerLinkActive="router-link-active"
            >
              <mat-icon>info</mat-icon> Info Page
            </button>
            <button mat-menu-item>Item 2 First</button>
          </mat-menu>
        </mat-tab>

        <!--- Second menu tab-->

        <mat-tab>
          <ng-template mat-tab-label>
            <button mat-icon-button [matMenuTriggerFor]="Menu">2nd</button>
          </ng-template>

          <mat-menu #Menu="matMenu">
            <button mat-menu-item>Item 1 Second</button>
            <button mat-menu-item>Item 2 Second</button>
          </mat-menu>
        </mat-tab>

        <!--- Third menu tab-->
        <mat-tab>
          <ng-template mat-tab-label>
            <button mat-button [matMenuTriggerFor]="Menu">3rd</button>
          </ng-template>

          <mat-menu #Menu="matMenu">
            <button mat-menu-item>Item 1 Second</button>
            <button mat-menu-item>Item 2 Second</button>
          </mat-menu>
        </mat-tab>
      </mat-tab-group>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        matTooltip="Profilul tău"
        class="login-details"
      >
        <span class="dot"></span>John Doe
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Programează o sesiune de consult">
          <mat-icon>assignment</mat-icon>
          <span>Vezi programări</span>
        </button>
        <button
          mat-menu-item
          [routerLink]="['/user/info-page']"
          routerLinkActive="router-link-active"
        >
          <mat-icon>voicemail</mat-icon>
          <span>Info Page</span>
        </button>
        <button
          mat-menu-item
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          <span>Deconectează-te</span>
        </button>
      </mat-menu>
    </mat-grid-tile>
  </mat-grid-list>
</header>

<!-- ########################################################################

                            Cards related
    
    
######################################################################## -->

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div class="tp-box" [@flipState]="flip1">
      <div class="tp-box__side tp-box__front">
        <mat-card-title>Lorem ipsum test flip</mat-card-title>
        fix asa jfdhkjsdfhjskd dsjfhsdkj jdjskhfsd\ fdsfsddds fsdfsdfsdf sdfs
        dfssdassad asd asasd asdfwasdfasd safsadaferqwasdf
        <div class="plus-button-position">
          <button
            mat-icon-button
            class="plus-button"
            matTooltip="Apasă aici pentru mai multe informații"
            (click)="toggleFlip1()"
          >
            +
          </button>
        </div>
      </div>
      <div class="tp-box__side tp-box__back">
        <mat-card-title>Lorem ipsum test flip spate</mat-card-title>
        spatele
        <div class="plus-button-position">
          <button mat-icon-button class="plus-button" (click)="toggleFlip1()">
            -
          </button>
        </div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="tp-box" [@flipState]="flip2">
      <div class="tp-box__side tp-box__front">
        <mat-card-title>Lorem ipsum test flip</mat-card-title>
        <div class="cards-text">
          fix asa jfdhkjsdfhjskd dsjfhsdkj jdjskhfsd\ fdsfsddds fsdfsdfsdf sdfs
          dfssdassad asd asasd asdfwasdfasd safsadaferqwasdf
        </div>
        <div class="plus-button-position">
          <button mat-icon-button class="plus-button" (click)="toggleFlip2()">
            +
          </button>
        </div>
      </div>
      <div class="tp-box__side tp-box__back">
        <mat-card-title>Lorem ipsum test flip spate</mat-card-title>
        spatele
        <div class="plus-button-position">
          <button mat-icon-button class="plus-button" (click)="toggleFlip2()">
            -
          </button>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<button
  mat-stroked-button
  [routerLink]="['/doctor/page']"
  routerLinkActive="router-link-active"
  color="warn"
>
  Doctor
</button>
