<div class="background">
  <video autoplay muted loop width="1460px; height: 100%">
    <source
      src="../../../assets/videos/signupBackground.mp4"
      type="video/mp4"
    />
  </video>

  <div class="content">
    <div class="icon-container">
      <img
        style="height: 90%; width: auto"
        src="../../../assets/images/signup_page/signup.png"
      />
      <div
        style="
          position: relative;
          left: 170px;
          bottom: 12px;
          font-family: OgonekRegular;
          font-size: 13px;
          color: black;
        "
      >
        Ai deja un cont?
        <button
          mat-stroked-button
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          class="connect-button"
        >
          Conectează-te
        </button>
      </div>
    </div>

    <div class="signup-title-container">
      <div style="height: 200px; width: 500px; position: relative; top: 50px">
        <img
          style="width: 500px; height: auto; position: relative"
          src="../../../assets/images/logo/FinalLogo.png"
        />

        <div
          style="
            font-family: OgonekLight;
            font-size: 20px;
            position: relative;
            left: 5px;
            top: 10px;
            color: black;
          "
        >
          Creează un cont
        </div>
      </div>
    </div>
    <div class="signup-form-container">
      <div style="height: 70px">
        <mat-form-field appearance="fill" style="width: 240px">
          <mat-label class="labels-text">Nume</mat-label>
          <input
            required
            matInput
            placeholder="Introduceți numele dvs."
            style="position: relative; left: 7px"
          />
        </mat-form-field>

        <mat-form-field
          appearance="fill"
          style="width: 240px; position: relative; bottom: 70px; left: 260px"
        >
          <mat-label class="labels-text">Prenume</mat-label>
          <input
            required
            matInput
            placeholder="Introduceți prenumele dvs."
            style="position: relative; left: 7px"
          />
        </mat-form-field>
      </div>

      <div style="height: 70px">
        <mat-form-field appearance="fill" style="width: 285px">
          <mat-label class="labels-text">Data nașterii</mat-label>
          <input
            required
            matInput
            [max]="maxDate"
            [matDatepicker]="dp"
            placeholder="Apăsați butonul calendar"
            [formControl]="date"
            style="position: relative; left: 7px"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dp"
            style="font-size: 15px; color: black; background-color: red"
            matTooltip="Introduceți data manual sau apăsați aici"
          ></mat-datepicker-toggle>
          <mat-datepicker #dp style="background-color: red"></mat-datepicker>
        </mat-form-field>

        <div style="position: relative; left: 295px; bottom: 73px">
          <mat-form-field appearance="fill" style="font-size: 15px">
            <mat-label class="labels-text">Sex</mat-label>
            <mat-select
              panelClass="example-panel-blue"
              style="position: relative; left: 7px"
            >
              <mat-option value="F">Feminin</mat-option>
              <mat-option value="M">Masculin</mat-option>
              <mat-option value="O">Prefer să nu răspund</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="fill" style="width: 500px">
        <mat-label class="labels-text">E-mail</mat-label>
        <input
          required
          matInput
          placeholder="exemplu@yahoo.com"
          style="position: relative; left: 7px"
        />
      </mat-form-field>
      <form [formGroup]="resetPwdForm">
        <mat-form-field appearance="fill" style="width: 500px">
          <button
            mat-icon-button
            color="accent"
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            matTooltip="Apasă aici pentru a afișa sau ascunde parola"
          >
            <mat-icon style="font-size: 20px; color: black">{{
              hide ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </button>
          <mat-label class="labels-text">Parola</mat-label>
          <input
            required
            matInput
            [type]="hide ? 'password' : 'text'"
            style="position: relative; left: 7px"
            formControlName="newpwdctrlname"
            placeholder="Introduceți cel puțin un caracter cu literă mare"
          />

          <!--<h1>{{ resetPwdForm.get('newpwdctrlname').status }}</h1>-->
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 500px">
          <mat-label class="labels-text">Confirmați parola</mat-label>
          <input
            required
            matInput
            [type]="hide ? 'password' : 'text'"
            style="position: relative; left: 7px"
            formControlName="newpwdctrlname"
            placeholder="Introduceți cel puțin un caracter cu literă mare"
          />

          <!--<h1>{{ resetPwdForm.get('newpwdctrlname').status }}</h1>-->
        </mat-form-field>

        <button
          mat-raised-button
          [routerLink]="['/welcome']"
          routerLinkActive="router-link-active"
          class="signup-button"
        >
          Înregistrează-te
        </button>
      </form>
    </div>
  </div>
</div>
