/*  #######################################################################
                                  Containers
####################################################################### */

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

.content {
  width: 1000px;
  height: 630px;
  position: fixed;
  background: white;
  color: black;
  top: 100px;
  left: 230px;
  border-radius: 5px;
}

.page-content {
  height: 100%;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.icon-container {
  width: 400px;
  height: 620px;
  position: relative;
  left: 500px;
}

.signup-form-container {
  width: 400px;
  position: relative;
  left: 50px;
  bottom: 650px;
  height: 50%;
}
.signup-title-container {
  width: 500px;
  height: 200px;
  position: relative;
  bottom: 600px;
  left: 50px;
}

/*  #######################################################################
                                Form overwrite
####################################################################### */

:host ::ng-deep .mat-form-field .mat-form-field-placeholder {
  color: black !important;
}

:host ::ng-deep .mat-form-field-label {
  color: black !important;
  font-family: OgonekBold;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black !important;
}

:host ::ng-deep .mat-input-element {
  caret-color: black !important;
}

:host ::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: black !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0.42) 33%,
    black 0
  ) !important;
  background-size: 2px 100% !important;
  background-repeat: repeat-x !important;
}

:host ::ng-deep .mat-input-element::placeholder {
  color: gray;
  position: relative;
}

:host ::ng-deep .mat-form-field {
  font-size: 14px;
}

:host ::ng-deep .mat-form-field .mat-form-field-flex {
  background-color: rgba(128, 128, 128, 0.2);
}

/*  #######################################################################
                                  Form 
####################################################################### */

.connect-button {
  color: rgb(66, 79, 123);
  font-family: OgonekRegular;
  font-size: 15px;
}

.labels-text {
  font-family: OgonekRegular;
  position: relative;
  left: 10px;
}

.signup-button {
  width: 300px;
  background-color: rgb(66, 79, 123);
  font-family: OgonekBold;
}
