/* ########################################################################

                            Right Side Related
                            Logo
    
    
######################################################################## */
::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #3e8387;
}

::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #3e8387;
}

.CovAid-logo {
  font-family: 'EternalAncient';
  color: black;
  font-size: xx-large;
  position: relative;
}

.vertical-line {
  border-left: 0.5px solid #3e8387;
  position: absolute;
  height: 600px;
  right: 50px;
  opacity: 0.5;
}

.fill {
  flex: 1 1;
}

.logo {
  font-size: 110px;
  color: black;
  position: relative;
  bottom: 5px;
  right: 20px;
}
/* ########################################################################

                            Login Form Related 
                            Left Side Related
    
    
######################################################################## */
mat-form-field {
  width: 350px;
}

.login-button {
  width: 150px;
  background-color: #3e8387;
  color: black;
}
.center-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
