<div class="background">
  <video autoplay muted loop width="1460px; height: 100%">
    <source src="../../../assets/videos/DNA.mp4" type="video/mp4" />
  </video>
  <div class="content">
    <div class="logo-container"></div>
    <!-----################################################################################################ 
    
      
                                        LOGIN FORM / RIGHT SIDE 
    
    
    
    ################################################################################################ ----->
    <div class="login-form-container">
      <p style="position: relative; top: 50px">
        Nu ai un cont?
        <button mat-button color="accent" style="color: black">
          Înregistrează-te aici
        </button>
      </p>
      <br />
      <mat-form-field
        appearance="outline"
        style="width: 300px; position: relative; top: 50px"
      >
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="exemplu@yahoo.com" />
      </mat-form-field>

      <br />
      <mat-form-field
        appearance="outline"
        style="width: 300px; position: relative; top: 50px"
      >
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          color="accent"
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <button
        mat-stroked-button
        style="
          width: 300px;
          position: relative;
          top: 50px;
          background-color: #838cc9;
          color: black;
        "
      >
        Autentifica-te
      </button>
    </div>
    <div style="position: relative; bottom: 550px">
      <button
        mat-raised-button
        [routerLink]="['/user/info-page']"
        routerLinkActive="router-link-active"
      >
        Info Page
      </button>

      <button
        mat-raised-button
        [routerLink]="['/welcome']"
        routerLinkActive="router-link-active"
      >
        Welcome
      </button>
    </div>
  </div>
</div>
