/*  #######################################################################
                                Containers
####################################################################### */

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

.content {
  width: 1000px;
  height: 630px;
  position: fixed;
  background: white;
  color: black;
  top: 100px;
  left: 230px;
  border-radius: 5px;
}

.divider {
  background-color: white;
  width: 1px;
  top: 220px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  right: 190px;
}

.logo-container {
  width: 700px;
  height: 490px;
  position: relative;
  border-radius: 5px;
  right: 20px;
  bottom: 20px;
}

.login-form-container {
  width: 430px;
  height: 490px;
  position: relative;
  left: 520px;
  bottom: 370px;
  border-radius: 5px;
}

/*  #######################################################################
                                Overwrite
####################################################################### */

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

:host ::ng-deep .mat-form-field .mat-form-field-placeholder {
  color: black !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: black !important;
}

:host ::ng-deep .mat-form-field-label {
  color: black !important;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black !important;
}

:host ::ng-deep .mat-input-element {
  caret-color: black !important;
}

:host ::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: black !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0.42) 33%,
    black 0
  ) !important;
  background-size: 2px 100% !important;
  background-repeat: repeat-x !important;
}

:host ::ng-deep .mat-input-element::placeholder {
  color: gray;
  position: relative;
}

/*  #######################################################################
                             Login Form
####################################################################### */

.logo {
  width: 270px;
  height: auto;
  position: relative;
  bottom: 30px;
}

.google-login-button {
  font-size: 25px;
  color: white;
  background-color: rgb(83, 99, 147);
}

.facebook-login-button {
  font-size: 25px;
  color: white;
  background-color: rgb(83, 99, 147);
}

.twitter-login-button {
  font-size: 25px;
  color: white;
  background-color: rgb(83, 99, 147);
}
