<app-splash-screen></app-splash-screen>
<div class="background">
  <video autoplay muted loop width="1460px; height: 100%">
    <source src="../../../assets/videos/loginBackground.mp4" type="video/mp4" />
  </video>
  <div class="content">
    <div class="logo-container">
      <img
        style="
          width: 670px;
          height: auto;
          position: relative;
          top: 110px;
          right: 70px;
        "
        src="../../../assets/images/login/login-icon.png"
      />
    </div>
    <!-----################################################################################################ 
  
      
                                        LOGIN FORM / RIGHT SIDE 
    
    
    
    ################################################################################################ ----->
    <div class="login-form-container">
      <div>
        <img class="logo" src="../../../assets/images/logo/FinalLogo.png" />
      </div>
      <div
        style="
          height: 50px;
          width: 300px;
          font-size: 30px;
          font-family: OgonekBold;
        "
      >
        Conectează-te
      </div>
      <div style="position: relative; bottom: 20px; height: 30px">
        Nu ai un cont?
        <button
          mat-stroked-button
          color="accent"
          style="
            color: rgb(66, 79, 123);
            font-family: OgonekBold;
            font-size: 13px;
            background-color: rgba(241, 240, 240, 0.3);
          "
          [routerLink]="['/signup']"
          routerLinkActive="router-link-active"
        >
          Înregistrează-te
        </button>
      </div>
      <br />

      <mat-form-field
        appearance="outline"
        style="width: 380px; position: relative"
      >
        <mat-label>E-mail</mat-label>
        <input matInput [formControl]="email" placeholder="exemplu@yahoo.com" />
      </mat-form-field>

      <br />
      <mat-form-field
        appearance="outline"
        style="width: 380px; position: relative"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-stroked-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon style="font-size: 25px; color: black">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-hint *ngIf="errorCatcher" style="color: red">
          Credențialele sunt invalide!
        </mat-hint>
      </mat-form-field>

      <br />
      <button
        mat-raised-button
        style="
          width: 380px;
          position: relative;
          background-color: rgb(66, 79, 123);
          color: white;
          border-radius: 10px;
          font-family: OgonekBold;
        "
        (click)="login()"
      >
        Intră în cont
      </button>

      <div style="height: 50px; width: 500px">
        <hr
          style="
            width: 80px;
            background-color: black;
            position: relative;
            right: 210px;
            top: 20px;
          "
        />
        <div
          style="
            font-family: OgonekRegular;
            position: relative;
            left: 115px;
            bottom: 5px;
          "
        >
          mereu alături de tine
        </div>
        <hr
          style="
            width: 80px;
            background-color: black;
            position: relative;
            bottom: 33px;
            left: 90px;
          "
        />
      </div>
      <div style="width: 600px; height: 70px">
        <div style="position: relative; left: 100px">
          <button mat-icon-button class="google-login-button">
            <i class="fas fa-microscope"></i>
          </button>
        </div>

        <div style="position: relative; bottom: 40px; left: 175px">
          <button mat-icon-button class="twitter-login-button">
            <i class="fas fa-hand-holding-medical"></i>
          </button>
        </div>

        <div style="position: relative; left: 250px; bottom: 80px">
          <button mat-icon-button class="facebook-login-button">
            <i class="fas fa-pump-medical"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
