.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

.content {
  width: 860px;
  height: 490px;
  position: fixed;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  top: 17%;
  padding: 20px;
  margin-left: 20%;
  margin-right: auto;
  border-radius: 5px;
}

.divider {
  background-color: white;
  width: 1px;
  top: 220px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  right: 190px;
}

.logo-container {
  width: 430px;
  height: 490px;
  position: relative;
  border-radius: 5px;
  right: 20px;
  bottom: 20px;
}

.login-form-container {
  width: 430px;
  height: 490px;
  position: relative;
  left: 430px;
  bottom: 450px;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: black !important;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep .mat-input-element {
  caret-color: black !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: black !important;
}
