/*  #######################################################################
                                  Header
####################################################################### */

.logo {
  position: relative;
  left: 20px;
  width: 250px;
  height: auto;
}

.nav-bar {
  width: 440px;
  position: relative;
  left: 880px;
  top: 20px;
}
.nav-bar-buttons {
  font-family: OgonekBold;
  font-size: 15px;
}

.nav-bar-buttons:hover {
  font-family: OgonekRegular;
  font-size: 15px;
}

.header-picture {
  width: 800px;
  height: auto;
  position: relative;
  left: 545px;
  bottom: 150px;
}

.welcome-message {
  color: rgb(0, 0, 0);
  font-family: OgonekRegular;
  font-size: 40px;
  width: 600px;
  position: relative;
  bottom: 330px;
  left: 100px;
}

.search-filter-container {
  background-color: rgb(36, 36, 36);
  width: 1240px;
  position: relative;
  left: 100px;
  height: 120px;
  border-radius: 10px;
  top: 300px;
}

/*  #######################################################################
                                  Page Content
####################################################################### */

.page-content {
  width: 1440px;
  height: auto;
}

.appointment-cards-container {
  width: 1260px;
  position: relative;
  left: 90px;
  top: 40px;
}
.appointment-cards {
  width: 600px;
  height: 340px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 5px 1px #00000069;
}

.appointment-cards:hover {
  box-shadow: 1px 1px 5px 3px #00000069;
}

/*  #######################################################################
                                  Footer
####################################################################### */

.footer-container {
  background-color: #242626;
  color: white;
  position: relative;
  width: 1440px;
  height: 750px;
  top: 200px;
}

.footer-first-container {
  position: relative;
  left: 100px;
  width: 403px;
  height: 650px;
  top: 100px;
  text-align: left;
  font-family: OgonekLight;
}

.footer-second-container {
  position: relative;
  left: 513px;
  width: 413px;
  height: 600px;
  bottom: 545px;
  text-align: center;
  font-family: OgonekLight;
}

.footer-third-container {
  position: relative;
  left: 930px;
  width: 400px;
  height: 600px;
  bottom: 1146px;
  text-align: right;
  font-family: OgonekLight;
}

.logo-down {
  position: relative;
  width: 250px;
  height: auto;
}

.icons {
  font-size: 30px;
  color: cadetblue;
  position: relative;
  top: 10px;
  width: 40px;
}

.card {
  width: 500px;
  margin: 50px auto auto auto;
}

.expandable-content {
  overflow: hidden;
  height: 50px;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  display: none;
}

.approved {
  box-shadow: 0px 15px 10px -15px #44786a;
}

.rejected {
  box-shadow: 0px 15px 10px -15px #ab3d36;
}

.pending {
  box-shadow: 0px 15px 10px -15px #ffd199;
}

.status-approved {
  background-color: #44786aa1;
  box-shadow: 1px 1px 5px 1px #00000069;
}

.status-rejected {
  background-color: #ab3d36;
  box-shadow: 1px 1px 5px 1px #00000069;
}

.status-pending {
  background-color: #f5d9b8;
  box-shadow: 1px 1px 5px 1px #00000069;
}

/*  #######################################################################
                              Search Bar
####################################################################### */
input {
  outline: none;
}
input[type='search'] {
  -webkit-appearance: textfield;
  font-family: OgonekLight;
  font-size: 100%;
  color: black;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type='search'] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 50px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type='search']:focus {
  width: 300px;
  background-color: #fff;
  border-color: #6692cc;
  color: black;
  font-family: OgonekLight;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
