<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #drawer class="sidenav-content" mode="push" position="end">
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><button
          mat-button
          class="sidenav-menu-buttons"
          matTooltip="Programează o sesiune de consult"
        >
          <mat-icon>assignment</mat-icon>
          <span>Vezi programări</span>
        </button></mat-list-item
      >
      <mat-divider style="border-top-color: black"></mat-divider>
      <mat-list-item role="listitem"
        ><button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/patient/info-page']"
          routerLinkActive="router-link-active"
        >
          <mat-icon>voicemail</mat-icon>
          <span>Info Page</span>
        </button></mat-list-item
      >
      <mat-divider style="border-top-color: black"></mat-divider>
      <mat-list-item role="listitem"
        ><button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/welcome']"
          routerLinkActive="router-link-active"
        >
          Welcome
        </button></mat-list-item
      >
      <mat-divider style="border-top-color: black"></mat-divider>

      <mat-list-item>
        <button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/patient/appointments']"
          routerLinkActive="router-link-active"
        >
          <span>Programari</span>
        </button>
      </mat-list-item>

      <mat-divider style="border-top-color: black"></mat-divider>
      <mat-list-item>
        <button
          mat-button
          class="sidenav-menu-buttons"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          <span>Deconectează-te</span>
        </button>
      </mat-list-item>
      <mat-divider style="border-top-color: black"></mat-divider>
      <mat-list-item>
        <button
          mat-button
          (click)="drawer.toggle()"
          class="sidenav-menu-buttons"
        >
          Inchide
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <header class="header-container">
    <img class="logo" src="../../../assets/images/logo/FinalLogo.png" />

    <button
      mat-icon-button
      class="menu-button"
      matTooltip="Profilul tău"
      (click)="drawer.toggle()"
    >
      <i style="font-size: 25px" class="fas fa-bars"></i>
    </button>
  </header>

  <div class="page-content">
    <p>Test aliniere</p>
    <h1>da</h1>
    <h1>da</h1>
    <div style="width: 1440px; height: 15px; background-color: #4353a6"></div>

    <footer class="footer-container">
      <div class="footer-first-container">
        <p>Covaid</p>
        <p>
          Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm
          hedi corper turet suscipit lobortis augue duis dolore te feugait nulla
          facilisi mazim placerat
        </p>
        <p><mat-icon> location_on</mat-icon> Strada nush</p>
        <p><mat-icon> phone</mat-icon> +40 732 254 647</p>
        <p><mat-icon> email</mat-icon> andreea.pupe99@e-uvt.ro</p>
      </div>
      <div class="footer-second-container">Second Container</div>
      <div class="footer-third-container">Third Container</div>
    </footer>
  </div>
</mat-drawer-container>
