<app-splash-screen></app-splash-screen>
<app-scroll-to-top></app-scroll-to-top>
<header style="position: relative; left: 80px; width: 1300px">
  <img
    style="width: 300px; top: 50px"
    class="logo"
    src="../../../assets/images/logo/FinalLogo.png"
  />

  <div class="nav-bar">
    <button
      mat-button
      class="nav-bar-buttons"
      style="text-decoration: underline"
    >
      Panoul meu
    </button>
    <button mat-button class="nav-bar-buttons">Informații</button>

    <button
      mat-button
      class="nav-bar-buttons"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      Logout
    </button>
  </div>
</header>

<div style="position: relative; top: 30px; height: 430px">
  <div style="width: 1440px; height: auto">
    <div class="search-filter-container">
      <div
        style="position: relative; left: 30px; width: 590px; top: 40px"
        [(ngModel)]="value"
      >
        <input matInput type="search" [(ngModel)]="filterTerm" />
        <button
          mat-button
          *ngIf="value"
          matSuffix
          mat-icon-button
          (click)="value = ''"
          style="position: relative; right: 50px; bottom: 5px; color: white"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="filter-container">
        <mat-form-field
          appearance="outline"
          style="width: 265px"
          class="status-colour select p-apps-page-outline doc-status"
        >
          <mat-label class="bonk">Status</mat-label>
          <mat-select panelClass="p-apps-page">
            <mat-option>--- None ---</mat-option>
            <mat-option value="Aprobat">Aprobat</mat-option>
            <mat-option value="Refuzat">Refuzat</mat-option>
            <mat-option value="Procesat">Procesat</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button class="filter-appointments-button">
          <i class="far fa-paper-plane"></i>
        </button>
      </div>
    </div>
    <img
      class="header-picture"
      src="../../../assets/images/doctor_appointments/header.png"
    />
  </div>
</div>

<div class="page-content">
  <div class="appointment-cards-container">
    <mat-grid-list rowHeight="360px" cols="2">
      <mat-grid-tile
        *ngFor="let app of doctorApps.slice().reverse() | filter: filterTerm"
      >
        <mat-card class="appointment-cards">
          <mat-card class="user-info-card status-pending"
            ><div class="user-info-div">
              <div>
                {{ app.patient.name }}
                <i
                  class="fas fa-exclamation-circle"
                  style="color: red"
                  *ngIf="app.contact === 1"
                  matTooltip="Atenție! Acest pacient a intrat în contact cu o persoană confirmată cu COVID-19."
                ></i>
              </div>
              <div style="font-family: OgonekLight">
                {{ app.patient.age }} ani
              </div>
            </div>
            <div
              class="circle"
              [ngClass]="{
                'status-approved': app.status === 'approved',
                'status-rejected': app.status === 'rejected',
                'status-pending': app.status === 'pending'
              }"
            >
              <div class="circle-text" *ngIf="app.status === 'approved'">
                Aprobat
              </div>
              <div class="circle-text" *ngIf="app.status === 'rejected'">
                Refuzat
              </div>
              <div class="circle-text" *ngIf="app.status === 'pending'">
                Procesat
              </div>
            </div>
          </mat-card>
          <div class="info-container">
            <div class="symptoms-container">
              <div style="font-family: OgonekBold; font-size: 12px">
                Symptoms
              </div>
              Nulla eu nisi at est pulvinar egestas tristique non odio. In
              gravida justo imperdiet elementum dictum. Nulla eu dictum diam.
              Nullam non sem felis. Maecenas non augue risus. Nunc gravida a
              felis et volutpat.
            </div>

            <div class="description-container">
              <div style="font-family: OgonekBold; font-size: 12px">
                Description
              </div>
              {{ app.details }}
            </div>

            <div *ngIf="app.status === 'pending'" class="buttons-container">
              <button mat-raised-button class="reject-button">Refuză</button>

              <button mat-raised-button class="approve-button">Aprobă</button>
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
      <div
        *ngIf="(doctorApps | filter: filterTerm).length === 0"
        style="
          width: 1240px;
          position: relative;
          left: 20px;
          top: 150px;
          background-color: white;
          color: black;
          font-family: OgonekBold;
          font-size: 30px;
          text-align: center;
        "
      >
        Nu există niciun rezultat
      </div>
    </mat-grid-list>
  </div>

  <div style="position: relative; top: 100px">
    <app-footer></app-footer>
  </div>
</div>
