<div>
  <div>
    Ești sigur că vrei să părăsești pagina?

    <button mat-icon-button mat-dialog-close class="x-button">x</button>
  </div>

  <div style="position: relative; top: 30px">
    <button mat-stroked-button mat-dialog-close class="dont-leave-button">
      Rămâi pe pagina
    </button>

    <a
      href="https://vaccinare-covid.gov.ro/precizari-privind-inscrierea-pe-platforma-de-vaccinare/"
      ><button mat-stroked-button class="access-button">
        Accesează RO-Vaccinare
      </button></a
    >
  </div>
</div>
