/*  #######################################################################
                                  Header
####################################################################### */

.header-container {
  background-color: whitesmoke;
  top: 0;
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 14px #888888;
  height: 70px;
  width: 1440px;
}

.logo {
  width: 250px;
  height: auto;
  position: relative;
}

.nav-bar {
  width: 450px;
  position: relative;
  left: 850px;
  bottom: 30px;
}
.nav-bar-buttons {
  font-family: OgonekBold;
  font-size: 15px;
}

.nav-bar-buttons:hover {
  font-family: OgonekRegular;
  font-size: 15px;
}
/*  #######################################################################
                                  Page Content
####################################################################### */
.page-content {
  height: 100%;
  position: relative;
  top: 80px;
}

.info-area {
  width: 100%;
  height: 500px;
  position: relative;
  top: 50px;
}

.appointment-now-button {
  width: 850px;
  height: 400px;
  background-color: #4353a6;
  position: relative;
  left: 490px;
  background-image: url('../../../assets/images/patient_dashboard/bg1.png');
}

.side-1 {
  width: 300px;
  height: 180px;
  position: relative;
  left: 100px;
  bottom: 400px;
  color: #242626;
  background-color: whitesmoke;
  font-family: OgonekRegular;
}

.side-2 {
  width: 300px;
  height: 180px;
  position: relative;
  left: 100px;
  bottom: 360px;
  color: #242626;
  background-color: whitesmoke;
  font-family: OgonekRegular;
}

.vaccine-picture {
  width: 1440px;
  height: 420px;
  background-image: url('../../../assets/images/patient_dashboard/vaccine.jpg');
  position: relative;
  top: 20px;
}

.vaccine-button {
  background-color: #4353a6;
  border-radius: 5px;
  position: relative;
  left: 900px;
  top: 110px;
  font-family: OgonekRegular;
  font-size: x-large;
  width: 440px;
  height: 70px;
}

.cancel {
  position: absolute;
  right: 0px;
  top: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.appointment-card {
  position: relative;
  color: black;
  margin-right: 20px;
  width: 650px;
  height: 500px;
  top: 100px;
}

.appointment-cards-container {
  width: 1440px;
}

.side-card {
  margin-right: 20px;
  width: 300px;
  color: black;
  position: relative;
  bottom: 50px;
}

.internalMatGrid {
  min-width: 80%;
}

::ng-deep.mat-dialog-container {
  background-color: white !important;
  color: black;
  width: 700px;
  height: 600px;
}

/*  #######################################################################
                                  Footer
####################################################################### */

.footer-container {
  background-color: #242626;
  color: white;
  bottom: 1000px;
  width: 1440px;
  height: 745px;
}

.footer-first-container {
  position: relative;
  left: 100px;
  width: 403px;
  height: 650px;
  top: 50px;
  text-align: left;
  font-family: OgonekLight;
}

.footer-second-container {
  position: relative;
  left: 513px;
  width: 413px;
  height: 600px;
  bottom: 545px;
  text-align: center;
  font-family: OgonekLight;
}

.footer-third-container {
  position: relative;
  left: 930px;
  width: 400px;
  height: 600px;
  bottom: 1146px;
  text-align: right;
  font-family: OgonekLight;
}

.logo-down {
  position: relative;
  width: 250px;
  height: auto;
}

.icons {
  font-size: 30px;
  color: cadetblue;
  position: relative;
  top: 10px;
  width: 40px;
}

/* Hover 

<div class="clasa"><a style="color: black"> da </a></div>


.clasa {
  transition: background-color 500ms;
}

.clasa:hover {
  background-color: gainsboro;
  padding-bottom: 5px;
  -webkit-transition: padding-bottom 500ms ease-out;
  -moz-transition: padding-bottom 500ms ease-out;
  -o-transition: padding-bottom 500ms ease-out;
  transition: padding-bottom 500ms ease-out;
}*/

::ng-deep .mat-dialog-container {
  font-family: OgonekBold;
}
