<app-splash-screen></app-splash-screen>
<app-scroll-to-top></app-scroll-to-top>
<div style="height: 800px; width: 1440px">
  <div style="position: relative; left: 100px; width: 1200px; top: 50px">
    <img
      style="width: 300px"
      class="logo"
      src="../../../assets/images/logo/FinalLogo.png"
    />

    <div class="nav-bar">
      <button
        mat-button
        style="
          font-family: OgonekBold;
          font-size: 15px;
          text-decoration: underline;
        "
      >
        Pagina principală
      </button>
      <button
        mat-button
        class="nav-bar-buttons"
        [routerLink]="['/patient/appointments']"
        routerLinkActive="router-link-active"
      >
        Programări
      </button>
      <button mat-button class="nav-bar-buttons" (click)="scroll(target)">
        Contact
      </button>
      <button mat-button class="nav-bar-buttons" [matMenuTriggerFor]="menu">
        {{ userDetails.name }}
      </button>
      <mat-menu #menu="matMenu" class="logout">
        <button mat-menu-item (click)="logout()">Deconectează-te</button>
      </mat-menu>
    </div>

    <div style="position: relative; width: 500px; height: 400px; top: 100px">
      <div
        style="
          position: relative;
          top: 50px;
          font-family: OgonekBold;
          font-size: 45px;
          line-height: 1.4;
          font-weight: bold;
        "
      >
        Consultație gratuită
      </div>

      <div
        style="
          position: relative;
          top: 60px;
          font-family: OgonekLight;
          font-size: 20px;
          line-height: 1.6;
        "
      >
        Sună medicul la serviciu? Încearcă în pauza de masă? Acum te poți
        programa oricând cu ajutorul CovAid, chiar și în afara programului de
        lucru. Un apel telefonic costă nu numai timp, ci și bani. Cu toate
        acestea, contactarea online a medicului este complet gratuită.
      </div>

      <button mat-button class="new-appointment-button" (click)="openDialog()">
        Programează-te
      </button>
    </div>

    <div style="position: relative; bottom: 380px; left: 530px; width: 810px">
      <img
        style="width: 800px; height: auto"
        src="../../../assets/images/patient_dashboard/top-image2.jpg"
      />
    </div>
  </div>
</div>

<div class="page-content">
  <div style="width: 1440px; height: 620px; position: relative; bottom: 100px">
    <img src="../../../assets/images/patient_dashboard/background.jpg" />

    <div style="position: relative; bottom: 650px; width: 635px; height: auto">
      <img
        style="width: 900px; height: auto"
        src="../../../assets/images/patient_dashboard/vaccine.png"
      />
    </div>
    <div style="width: 600px; position: relative; left: 680px; bottom: 1100px">
      <p
        style="
          color: black;
          font-family: OgonekBold;
          font-size: 40px;
          position: relative;
          width: 500px;
          text-align: right;
          left: 160px;
        "
      >
        Vaccinează-te acum!
      </p>

      <p
        style="
          color: black;
          font-family: OgonekLight;
          font-size: 20px;
          width: 560px;
          position: relative;
          top: 20px;
          line-height: 1.6;
          text-align: right;
          left: 100px;
        "
      >
        Nu te îmbonăvi de COVID-19. Şi nu-i îmbolnăvi nici pe cei din jurul tău.
        Ne dăm seama cât de importantă este sănătatea când deja suntem bolnavi.
        Un mod simplu de a ne proteja de bolile contagioase și de a ne păstra
        sănătatea este prin vaccinare.
      </p>

      <button mat-button class="get-vaccine-button" (click)="openLeaveDialog()">
        Accesează Ro-Vaccinare
      </button>
    </div>
  </div>

  <div style="position: relative; bottom: 15px" #target>
    <app-footer></app-footer>
  </div>
</div>
