/*  #######################################################################
                                  Header
####################################################################### */

.page-content {
  height: 100%;
  position: relative;
  top: 100px;
}

.header-container {
  background-color: whitesmoke;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 14px #888888;
  height: 70px;
}

.parallax {
  background: url(../../../assets/images/user-header.jpg);
  min-height: 470px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.header-pic-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: OgonekRegular;
  color: white;
  font-size: 50px;
}

.mat-card {
  background-color: whitesmoke;
}

.title {
  font-size: x-large;
  color: black;
  font-weight: bold;
  position: relative;
  right: 220px;
}

.login-details {
  width: 120px;
  border-radius: 25px;
  color: black;
  border-style: solid;
  border-width: 2.5px;
  border-color: black;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: 2px;
  bottom: 2px;
}

/*  #######################################################################
                                  Page Content
####################################################################### */

.mat-drawer-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.sidenav-content {
  height: 100%;
  width: 30%;
  background-color: white;
}

.sidenav-menu-buttons {
  width: 580px;
}

.search-box {
  width: 300px;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #c4c4c4;
  margin-left: 20px;
}

.search-icon {
  color: black;
  position: relative;
  top: 85px;
  left: 24px;
  font-size: 15px;
}

.info-area {
  width: 100%;
  height: 500px;
  position: relative;
  top: 50px;
}

.appointment-now-button {
  width: 850px;
  height: 400px;
  background-color: #4353a6;
  position: relative;
  left: 490px;
}

.side-1 {
  width: 300px;
  height: 180px;
  position: relative;
  left: 100px;
  bottom: 400px;
  color: #242626;
}

.side-2 {
  width: 300px;
  height: 180px;
  position: relative;
  left: 100px;
  bottom: 360px;
  color: #242626;
}

.vaccine-picture {
  width: 1440px;
  height: 420px;
  background-image: url(../../../assets/images/vaccine.jpg);
  position: relative;
  top: 20px;
}

.cancel {
  position: absolute;
  right: 0px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.appointment-card {
  margin-left: 25px;
  color: black;
  margin-right: 20px;
  width: 850px;
}

.side-card {
  margin-right: 20px;
  width: 300px;
  color: black;
  position: relative;
  bottom: 50px;
}

.internalMatGrid {
  min-width: 80%;
}

/*  #######################################################################
                                  Footer
####################################################################### */

.footer-container {
  background-color: #242626;
  color: white;
  height: 750px;
}

.footer-first-container {
  margin-left: 60px;
}
