<app-splash-screen></app-splash-screen>
<div style="height: 800px; width: 1440px">
  <div style="position: relative; left: 100px; width: 1200px; top: 50px">
    <img
      style="width: 300px"
      class="logo"
      src="../../../assets/images/logo/FinalLogo.png"
    />

    <div class="nav-bar">
      <button
        mat-button
        class="nav-bar-buttons"
        [routerLink]="['/patient/welcome']"
        routerLinkActive="router-link-active"
      >
        Welcome
      </button>
      <button
        mat-button
        class="nav-bar-buttons"
        style="text-decoration: underline"
      >
        Info Page
      </button>
      <button mat-button class="nav-bar-buttons">Contact</button>
      <button
        mat-button
        class="nav-bar-buttons"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Logout
      </button>
    </div>

    <!--<mat-form-field appearance="outline" style="color: red">
      <mat-label>Medic</mat-label>
      <mat-select>
        <div class="mat-select-background">
          <mat-option style="color: black; font-family: OgonekBold"
            >----None----</mat-option
          >
          <mat-option
            *ngFor="let doctor of doctors"
            [value]="doctor"
            style="color: black; font-family: OgonekBold"
          >
            {{ doctor.name }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>-->

    <div style="position: relative; width: 500px; height: 400px; top: 120px">
      <div
        style="
          position: relative;
          top: 50px;
          font-family: OgonekBold;
          font-size: 45px;
          line-height: 1.4;
          font-weight: bold;
        "
      >
        Consultație gratuită
      </div>

      <div
        style="
          position: relative;
          top: 60px;
          font-family: OgonekLight;
          font-size: 20px;
          line-height: 1.6;
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac turpis
        non turpis placerat aliquet vel quis dui. Suspendisse mi massa, feugiat
        eget arcu hendrerit, malesuada porta erat. Praesent at viverra massa.
        Suspendisse tellus sem, feugiat et lobortis sit amet, ultricies vitae
        velit. Suspendisse potenti.
      </div>

      <button mat-button class="new-appointment-button" (click)="openDialog()">
        Programează-te
      </button>
    </div>

    <div style="position: relative; bottom: 380px; left: 530px; width: 810px">
      <img
        style="width: 800px; height: auto"
        src="../../../assets/images/patient_dashboard/top-image2.jpg"
      />
    </div>
  </div>
</div>

<div class="page-content">
  <div style="width: 1440px; height: 620px; position: relative; bottom: 100px">
    <img src="../../../assets/images/patient_dashboard/background.jpg" />

    <div style="position: relative; bottom: 650px; width: 635px; height: auto">
      <img
        style="width: 900px; height: auto"
        src="../../../assets/images/patient_dashboard/vaccine.png"
      />
    </div>
    <div style="width: 600px; position: relative; left: 680px; bottom: 1100px">
      <p
        style="
          color: black;
          font-family: OgonekBold;
          font-size: 40px;
          position: relative;
          width: 500px;
          text-align: right;
          left: 160px;
        "
      >
        Vaccinează-te acum!
      </p>

      <p
        style="
          color: black;
          font-family: OgonekLight;
          font-size: 20px;
          width: 560px;
          position: relative;
          top: 20px;
          line-height: 1.6;
          text-align: right;
          left: 100px;
        "
      >
        Nu te îmbonăvi de COVID-19. Şi nu-i îmbolnăvi nici pe cei din jurul tău.
        Ne dăm seama cât de importantă este sănătatea când deja suntem bolnavi.
        Un mod simplu de a ne proteja de bolile contagioase și de a ne păstra
        sănătatea este prin vaccinare.
      </p>

      <a
        href="https://vaccinare-covid.gov.ro/precizari-privind-inscrierea-pe-platforma-de-vaccinare/"
      >
        <button mat-button class="get-vaccine-button">
          Accesează Ro-Vaccinare
        </button>
      </a>
    </div>
  </div>

  <div
    style="
      width: 100%;
      height: 15px;
      background-color: #4353a6;
      position: relative;
      top: 5px;
    "
  ></div>

  <footer class="footer-container">
    <div class="footer-first-container">
      <img class="logo-down" src="../../../assets/images/logo/FinalLogo.png" />
      <div style="position: relative; top: 30px">
        Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi
        corper turet suscipit lobortis augue duis dolore te feugait nulla
        facilisi mazim placerat.

        <div style="font-family: OgonekBold">
          <mat-icon class="icons"> location_on</mat-icon>
          Bulevardul Vasile Pârvan 4, Timișoara 300223
        </div>
        <div style="font-family: OgonekBold">
          <mat-icon class="icons"> phone</mat-icon> +40 256 592 111
        </div>

        <div style="font-family: OgonekBold">
          <mat-icon class="icons"> email</mat-icon>
          andreea.pupe99@e-uvt.ro
        </div>
      </div>
    </div>

    <div class="footer-second-container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et augue
      sed dui posuere iaculis. Etiam ac ex elementum, tincidunt elit id,
      porttitor felis. Proin eget finibus massa. Aenean hendrerit justo magna,
      sed consequat tellus feugiat id. Curabitur venenatis cursus tellus, ut
      rhoncus odio sollicitudin a. Nulla facilisi. Ut interdum quam a ipsum
      elementum, dictum placerat quam posuere. Pellentesque scelerisque aliquet
      justo at tincidunt. Curabitur sed urna non sem auctor blandit. Aenean
      feugiat neque eget nibh rhoncus, at tincidunt nisi finibus. Fusce in est
      mattis, blandit nisi sed, faucibus nibh. Aenean est quam, placerat nec
      aliquam sed, imperdiet sed metus. Ut consectetur lacus in maximus
      pellentesque. Etiam mollis nunc non arcu gravida, et finibus tellus
      luctus. Sed quis eros vulputate enim venenatis blandit. Donec et magna
      euismod enim vulputate consequat. Maecenas in vestibulum nulla. Nullam
      finibus vehicula egestas. Donec lorem diam, faucibus in risus vitae,
      ullamcorper consequat mi. Donec a velit viverra, aliquam sem eu, luctus
      sem. Fusce id suscipit velit, ac maximus sapien.
    </div>
    <div class="footer-third-container">
      <app-footer-map></app-footer-map>
    </div>
  </footer>
</div>
