/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: white;
}

@font-face {
  font-family: 'EternalAncient';
  src: local('EternalAncient'),
    url(./assets/fonts/EternalAncient-JROVj.ttf) format('truetype');
}

/*
mdb-carousel .carousel-indicators {
  display: none;
}
*/

@font-face {
  font-family: 'OgonekBold';
  src: local('OgonekBold'),
    url(./assets/fonts/OgonekBold.ttf) format('truetype');
}

@font-face {
  font-family: 'OgonekLight';
  src: local('OgonekLight'),
    url(./assets/fonts/OgonekLight.ttf) format('truetype');
}

@font-face {
  font-family: 'OgonekHeavy';
  src: local('OgonekHeavy'),
    url(./assets/fonts/OgonekHeavy.ttf) format('truetype');
}

@font-face {
  font-family: 'OgonekRegular';
  src: local('OgonekRegular'),
    url(./assets/fonts/OgonekRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'OgonekUnicase';
  src: local('OgonekUnicase'),
    url(./assets/fonts/OgonekUnicase.ttf) format('truetype');
}

@font-face {
  font-family: 'LemonMilkBold';
  src: local('LemonMilkBold'),
    url(./assets/fonts/LemonMilkBold.otf) format('truetype');
}

/* Outline */

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

::ng-deep .mat-form-field .mat-form-field-placeholder {
  color: black !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: black !important;
}

.mat-select-value {
  color: #000;
  font-family: OgonekBold;
}

.status-colour .mat-select-value {
  color: white;
}

.mat-select-panel {
  background-color: white;
}

.mat-pseudo-checkbox {
  color: #000;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: #838cc9;
  color: white;
}

.p-apps-page.mat-select-panel {
  background-color: #222222;
}

.p-apps-page-outline.mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: cornflowerblue;
}

.new-app.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgb(70, 52, 162);
}

/* Doctor Page */

.doc-status.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: cornflowerblue;
}

.bonk.mat-label {
  color: blue;
}

.mat-tooltip {
  background-color: rgb(36, 36, 36) !important;
  font-size: 12px;
  font-family: OgonekLight;
}
