.scroll-to-top {
  position: fixed;
  bottom: 45px;
  right: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  background-color: cornflowerblue;
  border-radius: 20px;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
