<div style="position: relative; width: 600px">
  <form [formGroup]="requestForm">
    <div class="container">
      <div
        style="
          font-family: OgonekBold;
          position: relative;
          top: 40px;
          font-size: 28px;
          left: 20px;
          width: 400px;
        "
      >
        Programează-te
        <div
          style="
            font-family: OgonekRegular;
            position: relative;
            top: 5px;
            font-size: 18px;
            width: 400px;
          "
        >
          Fă o programare
        </div>
      </div>

      <div class="fill"></div>
      <button mat-icon-button mat-dialog-close>x</button>
    </div>

    <mat-divider></mat-divider>
    <br />
    <div style="position: relative; left: 30px; height: 400px; top: 50px">
      <mat-form-field appearance="outline" style="color: red">
        <mat-label>Medic</mat-label>
        <mat-select formControlName="title" class="modal-select">
          <div class="mat-select-background">
            <mat-option style="color: black; font-family: OgonekBold"
              >----None----</mat-option
            >
            <mat-option
              *ngFor="let doctor of doctors"
              [value]="doctor"
              style="color: black; font-family: OgonekBold"
            >
              {{ doctor.name }}
            </mat-option>
          </div>
        </mat-select>

        <mat-hint>
          <div style="color: black">Acest câmp este obligatoriu.</div>
        </mat-hint>
      </mat-form-field>

      <br />

      <mat-form-field appearance="outline">
        <mat-label>Simptome</mat-label>
        <mat-select [formControl]="symptoms" multiple>
          <mat-select-trigger
            style="color: black; font-family: OgonekBold"
            class="test"
          >
            {{ symptoms.value ? symptoms.value[0] : '' }}
            <span *ngIf="symptoms.value?.length > 1">
              (+{{ symptoms.value.length - 1 }}
              {{ symptoms.value?.length === 2 ? 'înca unul' : 'altele' }})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let symptoms of symptomList"
            [value]="symptoms"
            style="font-family: OgonekBold; color: black"
            >{{ symptoms }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mențiuni speciale</mat-label>
        <textarea
          matInput
          rows="7"
          placeholder="Acest câmp nu este obligatoriu"
        ></textarea>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox color="primary"
          >Am intrat în contact cu o persoană confirmată</mat-checkbox
        >
      </section>
      <button mat-raised-button mat-dialog-close class="submit-button">
        Submit request
      </button>
    </div>
  </form>
</div>
