:host ::ng-deep form {
  max-width: 700px;
  min-width: 700px;
  min-height: 650px;
  max-height: 650px;
}

.mat-dialog-container {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
}

:host ::ng-deep mat-form-field {
  width: 500px;
}

.business-justification {
  width: 100%;
}

.submit-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
  background-color: #c4c4c4;
  color: black;
}

.container {
  display: flex;
}

.fill {
  flex: 1 1;
}

/*  #######################################################################
                                  Overwrite
####################################################################### */

/* --- Input / Select ---  */
:host ::ng-deep .mat-select-panel {
  background-color: blue !important;
  color: black;
}

/* Border */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

::ng-deep .mat-select-placeholder {
  color: red;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline {
  color: #4649ac !important;
}

/* --- Form field --- */
ul {
  list-style-type: none;
  margin-top: 4px;
}

:host ::ng-deep .mat-form-field-label {
  color: black !important;
  font-family: OgonekBold;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #4649ac !important;
}

:host ::ng-deep .mat-input-element {
  caret-color: black !important;
}

:host ::ng-deep .mat-input-element::placeholder {
  color: rgb(0, 0, 0);
  position: relative;
  font-family: OgonekRegular;
  font-size: 12px;
}

:host ::ng-deep .mat-form-field {
  font-size: 14px;
}

:host ::ng-deep .mat-form-field .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.1);
}

/* --------- Checkbox -------- */
:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
  background-color: #dddddd;
}

:host
  ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: rgba(21, 53, 231, 0.699) !important;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: gray;
}

:host ::ng-deep.mat-dialog-container {
  background-color: black !important;
}

::ng-deep .mat-select-background {
  background-color: white !important;
}
